
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
    display: flex;
    flex-direction: column;
    width:  1200px;
    margin: 0 auto;
}

header{
    display: flex;
    background-color: rgba(7, 7, 7, 0.726);
    justify-content: flex-start;
}
.header_logo{
    justify-content: flex-start;
    border-radius: 50%;
    overflow: hidden;
}

.header_menu{
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 100px;
}

.header_menu li{
    display: inline-flex;
    text-align: center;
    width: auto;
    height: auto;
}

li{
    background: rgb(255, 255, 255);
    border: 3px solid  rgba(48, 13, 12, 0.753) ;
    border-radius: 5px;
    padding: 10px;
    margin-right: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 18px;   
}
ul{
    margin-top:35px ;
}

main{
    height: 100%;
    background: url(Relden/project-1/main/img/youtube.png) ;
    padding-bottom: 100px;
}

h1{
    position: relative;
    right: 13%;
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
}

.content{
    width: 75%;
    height: 100%;
    border: 1px solid black;

}
 
.galary{
    display: flex;
    height: 650px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.photo{
    margin-top: 10px;
    width: 40%;
    height: 180px;
    border: 1px solid black;
}

.photo img{
    width:  100%;
    height: 100%;

}

footer{
    background: rgba(156, 156, 156, 0.445);
    height: 100px;
    justify-content: flex-end;
}

.contact{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.links , .numbers {
    padding:  10px 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;  
    height: 100px;
}

.links{
    justify-content: space-around;
    position: relative;

}

.google ::before{
    content: '';
    position: absolute;
    background: url(project-1/img/Google.png) 0 0/25px 25px no-repeat ;
    height: 30px;
    width: 30px;
    top: 14px;
    right: 77px;

}


.youtube ::before{
    content: '';
    position: absolute;
    display: inline-block;
    background: url(project-1/img/youtube.png) 0 0/25px 25px  no-repeat;
    height: 30px;
    width: 30px;
    top: 57px;
    right: 77px;
}

.numbers{
    justify-content: space-around;
}

a{
    color: black;
}
